.header_score {
    width: 100%;
    max-width: 600px;
    border: solid var(--HeaderOutline) 1px;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}
.title img{
    height: 100%;
}
.score_table{
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 1rem 0;
    text-align: center;
    width: 140px;
}
.score_table p{
    color: var(--ScoreText);
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 600;
}
.score_table P.score{
    letter-spacing: 2px;
    font-size: 3rem;
    color: var(--DarkText);
    font-weight: 700;
}