.games_container{
    background-image: url(../../../assets/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}
.btn{
    background-color: #ffffff;
    border-radius: 50%;
    padding: 2rem;
    border: solid 1rem;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.btn_paper{
    border-color: hsl(230, 89%, 62%) ;
    /* border-image: linear-gradient(45deg,red,blue) 10; */
}
.btn_scissors{
    border-color: hsl(39, 89%, 49%);
}
.btn_rock{
    border-color: hsl(349, 71%, 52%)
}
.row_one{
    display: flex;
    justify-content: space-evenly;
}
.row_two{
    display: flex;
    justify-content: center;
}

.dule{
    display: flex;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
}
.you_picked h2, .house_picked h2  {
    margin-bottom: 2rem;
}
.dule > *{
    width: 100%;
}
.grid_center{
    display: grid;
    place-items: center;
    height: 150px;
}
.circle{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: rgb(0 0 0 / 50%);
}
.hidden{
    display: none !important;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result h2{
    font-size: 2rem;
}
.result .btn_again{
    border: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: .8rem 2rem;
    color: rgb(14, 21, 58);
    cursor: pointer;
    letter-spacing: 2px;
    font-size: .7rem;
    font-weight: 600;
}
.result .btn_again:hover{
    color: hsl(349, 71%, 52%)
}